@import "./variables.scss";

@mixin h2 {
    font-size: 60px;
}
@mixin background{
    background-color:$tertiary-color;
    
}

@mixin p {
    font-size: 20px;
}

@mixin link{
    background-color: $secondary-color;
    list-style-type: none;
    text-decoration: none;
    color: $tertiary-color;
}

@mixin ul{
   ul{
        list-style-type: none;
        padding-inline-start: 0px;
   }
}

@mixin li{
    li{
        list-style-type:none;
    }
}


@mixin display-flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin display-flex-col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}