@import "../utils/mixins.scss";

.contact-page{
    height: 500px;
    @include display-flex-col;


}

.contact-logo{
    width: auto;
    @include ul;
    @include li;
    @include display-flex-row;
    justify-content: center;
    ul{
        @include display-flex-row;
        justify-content: space-around;
        li{
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    img{
        height: 60px;
    }

}

#contact{
    @include h2;
    margin-left: 40px ;
}
