@import "../utils/mixins.scss";
@import "../utils/variables.scss";

.carousel {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;

}

.project {
    h2 {
      @include h2;
      margin-left: 2rem;
    }
}

.project-div {
  position: relative;
  z-index: -1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid 3px black;
  height: auto;
}

.carousel-track{
    display: flex;
    transition: transform 0.5s ease;
    width: auto;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 100% ;
    padding: 1rem;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
    height: auto;
    
    a{
        width: 200px;
        height: auto;
        background-color: red;
        border: solid 3px black;

        img{
            height: auto;
            width: 150px;
        }
    }


}



.project-description {
  @include display-flex-col;
  justify-content: center;
  padding: 0.5rem;
  

  p {
    height: auto;
    width: 100%;
    @include p;
  }
}

