@import "../utils/mixins.scss";

.navbar{

@include ul;
@include li;

            a{
                padding: 10px;
                border-radius: 30px;
                border-width: 3px;
                border-color: gold;
                border-style: solid;
            }

}