@import "../utils/mixins.scss";

.navbar{
    @include display-flex-row;
    justify-content: flex-start;

    ul {
        @include ul;
        @include display-flex-row;
    }

    li{
        @include li;

    }

    a{
        padding: 10px;
        border-radius: 15px;
        border-width: 3px;
        border-color: $tertiary-color;
        // border-style: solid;
        // position: fixed;
        // right:100px;
        // z-index: 100;

        
    }

}