@import "../utils/mixins.scss";
@import "../utils/variables.scss";

.header{

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 350px;
    padding-top: 50px;
    box-sizing: border-box;
    
    .whoami{
        @include display-flex-col;
        justify-content: center;
        font-size: 50px;
        

    }
    a{
        @include link;
    }
    @include ul;
    @include li;
}